In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\gaurav rawat\appdata\roaming\python\python38\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\gaurav rawat\appdata\roaming\python\python38\site-packages (from pyspark) (0.10.9.2)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

In [96]:
import pandas as pd
from pyspark.rdd import RDD
from pyspark.sql import  SparkSession,DataFrame
from pyspark.sql.types import StructType,StructField, StringType,IntegerType

In [97]:
spark = SparkSession.builder.appName("Gaurav").getOrCreate()

In [98]:
rdd1=spark.read.csv('titanic.csv',inferSchema=True,header=True)

In [99]:
rdd1.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# Print Schema

In [100]:
rdd1.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [101]:
rdd1.count() #No. of rows

891

In [102]:
len(rdd1.columns) #No. of columns

12

In [103]:
d1=pd.read_csv('titanic.csv')
df1=pd.DataFrame({
    'PassengerID':d1['PassengerId'],
    'Name':d1['Name'],
    'Age':d1['Age'],
    'sex':d1['Sex']
})
df2=spark.sparkContext.parallelize(df1)
deptSchema = StructType([       
    StructField('PassengerId', StringType(), True),
    StructField('Name', StringType(), True),
    StructField('Age', IntegerType(), True),
    StructField('Sex', StringType(), True)
])
rdd2=spark.createDataFrame(df2,schema=deptSchema)

In [104]:
rdd2.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)

In [112]:
#rdd2.show() Error

In [121]:
print("Count "+str(rdd1.count()))
rdd3=rdd1.dropDuplicates()
rdd3.show()

Count 891
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|  Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-------+--------+
|        612|       0|     3|Jardin, Mr. Jose ...|  male|null|    0|    0|SOTON/O.Q. 3101305|   7.05|   null|       S|
|        666|       0|     2|  Hickman, Mr. Lewis|  male|32.0|    2|    0|      S.O.C. 14879|   73.5|   null|       S|
|        689|       0|     3|Fischer, Mr. Eber...|  male|18.0|    0|    0|            350036| 7.7958|   null|       S|
|        846|       0|     3| Abbing, Mr. Anthony|  male|42.0|    0|    0|         C.A. 5547|   7.55|   null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|        C.A. 34651|  27.75|   null|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|            231919|   23.0|   null|       S|
|        499|       0|     1|Allison, Mrs. Hud...|female|25.0|    1|    2|            113781| 151.55|C22 C26|       S|
|        686|       0|     2|Laroche, Mr. Jose...|  male|25.0|    1|    2|     SC/Paris 2123|41.5792|   null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|           PP 9549|   16.7|     G6|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male|32.0|    0|    0|        C.A. 33111|   10.5|   null|       S|
|        266|       0|     2|   Reeves, Mr. David|  male|36.0|    0|    0|        C.A. 17248|   10.5|   null|       S|
|        281|       0|     3|    Duane, Mr. Frank|  male|65.0|    0|    0|            336439|   7.75|   null|       Q|
|        472|       0|     3|     Cacic, Mr. Luka|  male|38.0|    0|    0|            315089| 8.6625|   null|       S|
|        615|       0|     3|Brocklebank, Mr. ...|  male|35.0|    0|    0|            364512|   8.05|   null|       S|
|        701|       1|     1|Astor, Mrs. John ...|female|18.0|    1|    0|          PC 17757|227.525|C62 C64|       C|
|        706|       0|     2|"Morley, Mr. Henr...|  male|39.0|    0|    0|            250655|   26.0|   null|       S|
|        158|       0|     3|     Corn, Mr. Harry|  male|30.0|    0|    0|   SOTON/OQ 392090|   8.05|   null|       S|
|        189|       0|     3|    Bourke, Mr. John|  male|40.0|    1|    1|            364849|   15.5|   null|       Q|
|        345|       0|     2|Fox, Mr. Stanley ...|  male|36.0|    0|    0|            229236|   13.0|   null|       S|
|        398|       0|     2|McKane, Mr. Peter...|  male|46.0|    0|    0|             28403|   26.0|   null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-------+--------+
only showing top 20 rows