In [90]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: pyspark in c:\users\gaurav rawat\appdata\roaming\python\python38\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\gaurav rawat\appdata\roaming\python\python38\site-packages (from pyspark) (0.10.9.2)

In [91]:
import pyspark

In [92]:
import pandas as pd
pd.read_csv('Book1.csv')

           Name  Agre  Experience
0  Gaurav Rawat  22.0         1.0
1        Deepak  20.0         2.0
2        Hardik  19.0         1.0
3        Shivam  21.0         2.0
4         Ayush  21.0         3.0
5           NaN   6.0         NaN
6           NaN   NaN         8.0

In [93]:
from pyspark.sql import SparkSession

In [94]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [95]:
spark

In [96]:
df_pyspark=spark.read.csv('Book1.csv',inferSchema=True,header=True)

In [97]:
#Print the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Agre: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [98]:
#Print Columns
df_pyspark.columns

['Name', 'Agre', 'Experience']

In [99]:
df_pyspark.head(3)

[Row(Name='Gaurav Rawat', Agre=22, Experience=1),
 Row(Name='Deepak', Agre=20, Experience=2),
 Row(Name='Hardik', Agre=19, Experience=1)]

In [100]:
df_pyspark.show()

+------------+----+----------+
|        Name|Agre|Experience|
+------------+----+----------+
|Gaurav Rawat|  22|         1|
|      Deepak|  20|         2|
|      Hardik|  19|         1|
|      Shivam|  21|         2|
|       Ayush|  21|         3|
|        null|   6|      null|
|        null|null|         8|
+------------+----+----------+

In [101]:
df_pyspark.select(['Name','Experience']).show()

+------------+----------+
|        Name|Experience|
+------------+----------+
|Gaurav Rawat|         1|
|      Deepak|         2|
|      Hardik|         1|
|      Shivam|         2|
|       Ayush|         3|
|        null|      null|
|        null|         8|
+------------+----------+

In [102]:
df_pyspark.dtypes

[('Name', 'string'), ('Agre', 'int'), ('Experience', 'int')]

In [103]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|  Name|              Agre|        Experience|
+-------+------+------------------+------------------+
|  count|     5|                 6|                 6|
|   mean|  null|18.166666666666668|2.8333333333333335|
| stddev|  null| 6.047037842337906|2.6394443859772205|
|    min| Ayush|                 6|                 1|
|    max|Shivam|                22|                 8|
+-------+------+------------------+------------------+

In [104]:
df_pyspark.select(['Name','Agre','Experience']).where('Experience>=2').show()

+------+----+----------+
|  Name|Agre|Experience|
+------+----+----------+
|Deepak|  20|         2|
|Shivam|  21|         2|
| Ayush|  21|         3|
|  null|null|         8|
+------+----+----------+

# Adding Column in dataFrame

In [105]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [106]:
df_pyspark.show()

+------------+----+----------+-----------------------+
|        Name|Agre|Experience|Experience After 2 year|
+------------+----+----------+-----------------------+
|Gaurav Rawat|  22|         1|                      3|
|      Deepak|  20|         2|                      4|
|      Hardik|  19|         1|                      3|
|      Shivam|  21|         2|                      4|
|       Ayush|  21|         3|                      5|
|        null|   6|      null|                   null|
|        null|null|         8|                     10|
+------------+----+----------+-----------------------+

In [107]:
df_pyspark=df_pyspark.drop('Experience After 2 year').show()

+------------+----+----------+
|        Name|Agre|Experience|
+------------+----+----------+
|Gaurav Rawat|  22|         1|
|      Deepak|  20|         2|
|      Hardik|  19|         1|
|      Shivam|  21|         2|
|       Ayush|  21|         3|
|        null|   6|      null|
|        null|null|         8|
+------------+----+----------+

AttributeError: 'NoneType' object has no attribute 'withColumnRenamed'