In [115]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [116]:
pyspark1=spark.read.csv('Book1.csv',inferSchema=True,header=True)

In [117]:
pyspark1.show()

+------------+----+----------+
|        Name|Agre|Experience|
+------------+----+----------+
|Gaurav Rawat|  22|         1|
|      Deepak|  20|         2|
|      Hardik|  19|         1|
|      Shivam|  21|         2|
|       Ayush|  21|         3|
|        null|   6|      null|
|        null|null|         8|
+------------+----+----------+

In [118]:
pyspark1=pyspark1.withColumnRenamed('Agre','Age')

In [119]:
pyspark1.show()

+------------+----+----------+
|        Name| Age|Experience|
+------------+----+----------+
|Gaurav Rawat|  22|         1|
|      Deepak|  20|         2|
|      Hardik|  19|         1|
|      Shivam|  21|         2|
|       Ayush|  21|         3|
|        null|   6|      null|
|        null|null|         8|
+------------+----+----------+

In [120]:
#Drop Null value rows
#how means delete row if it has one null or more null value
#how==all means if whole row is null the drop that row
#how==any means if any row has null then drop that row
#thresh=1 means it check if it has 2 non-null value are their or not .if their then it will not drop
#Subset:- with delete that row that contain null value
pyspark1=pyspark1.na.drop(how="any",subset=['Experience'])
pyspark1.show()

+------------+----+----------+
|        Name| Age|Experience|
+------------+----+----------+
|Gaurav Rawat|  22|         1|
|      Deepak|  20|         2|
|      Hardik|  19|         1|
|      Shivam|  21|         2|
|       Ayush|  21|         3|
|        null|null|         8|
+------------+----+----------+

In [132]:
#filling missing values
#na.fill('Missing values',Column name)
a=pyspark1.na.fill('Missing Values',['Name','Experience','Age'])
a.show()

+--------------+----+----------+
|          Name| Age|Experience|
+--------------+----+----------+
|  Gaurav Rawat|  22|         1|
|        Deepak|  20|         2|
|        Hardik|  19|         1|
|        Shivam|  21|         2|
|         Ayush|  21|         3|
|Missing Values|null|         8|
+--------------+----+----------+

In [135]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience']]
    ).setStrategy("median")

In [146]:
# Add imputation cols to df
b=imputer.fit(pyspark1).transform(pyspark1)
b.show()

+------------+----+----------+-----------+------------------+
|        Name| Age|Experience|Age_imputed|Experience_imputed|
+------------+----+----------+-----------+------------------+
|Gaurav Rawat|  22|         1|         22|                 1|
|      Deepak|  20|         2|         20|                 2|
|      Hardik|  19|         1|         19|                 1|
|      Shivam|  21|         2|         21|                 2|
|       Ayush|  21|         3|         21|                 3|
|        null|null|         8|         21|                 8|
+------------+----+----------+-----------+------------------+

In [148]:
#Filter
c=b.filter((b["Experience"]>=2) & (b['Age']!=0)).select(["Name","Age","Experience_imputed"])
c.show()

+------+---+------------------+
|  Name|Age|Experience_imputed|
+------+---+------------------+
|Deepak| 20|                 2|
|Shivam| 21|                 2|
| Ayush| 21|                 3|
+------+---+------------------+